<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/profilestyle.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <title>Profile</title>
    <link rel="icon" href="assets/libs/img/favicon.png">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="mainpage_chart.html"><img src="assets/libs/img/logo.png"></a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/libs/img/avatar.png" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name" th:text="${currentUser.getName()}"></h5>
                                </div>
                                <a class="dropdown-item" href="profile"><i class="fas fa-user mr-2"></i>Tài khoản</a>
                                <a class="dropdown-item" href="setting"><i class="fas fa-cog mr-2"></i>Cài đặt</a>
                                <a class="dropdown-item" href="login"><i class="fas fa-power-off mr-2"></i>Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="container">
                <div class="picture-container">
                <div class="picture">
                <img th:src="${currentUser.getAvatar()}" class="picture-src" id="wizardPicturePreview" title="">
            <input type="file" id="wizard-picture" class="">
        </div>
         <h2 class="" th:text="${currentUser.getName()}"></h2>

    </div>
</div>
        </div>
                            
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
     <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Thông tin cá nhân</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/mainpage_chart" class="breadcrumb-link">Trang chủ</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
            <section id="core">
            <div class="profileinfo">
                <div class="gear">
                    <label>E-Mail:</label>
                    <span id="email" class="datainfo" th:text="${currentUser.getEmail()}"></span>
<!--                    <a href="#" class="editlink">Chỉnh sửa</a>-->
<!--                    <a class="savebtn">Lưu</a>-->
                </div>
                
                <div class="gear">
                    <label>Tên:</label>
                    <span id="fullname" class="datainfo" th:text="${currentUser.getName()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="saveName">Lưu</a>
                </div>

                <div class="gear">
                    <label>Ngày sinh:</label>
                    <span id="birthday" class="datainfo" th:text="${currentUser.getBirthday()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="saveBirthDay">Lưu</a>
                </div>

                <div class="gear">
                    <label>Giới tính:</label>
                    <span id="sex" class="datainfo" th:text="${currentUser.getGender()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="saveGender">Lưu</a>
                </div>
                
                <div class="gear">
                    <label>Điện thoại:</label>
                    <span id="phonenumber" class="datainfo" th:text="${currentUser.getPhoneNumber()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="savePhoneNumber">Lưu</a>
                </div>
                
                <div class="gear">
                    <label>Địa chỉ:</label>
                    <span id="address" class="datainfo" th:text="${currentUser.getAddress()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="saveAddress">Lưu</a>
                </div>
                
                <div class="gear">
                    <label>Công việc:</label>
                    <span id="job" class="datainfo" th:text="${currentUser.getJob()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="saveJob">Lưu</a>
                </div>

                <div class="gear">
                    <label>Thu nhập:</label>
                    <span id="income" class="datainfo" th:text="${currentUser.getIncome()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="saveIncome">Lưu</a>
                </div>

                <div class="gear">
                    <label>Lịch sử tập luyện:</label>
                    <span id="traininghistory" class="datainfo" th:text="${currentUser.getTrainingHistory()}"></span>
                    <a href="#" class="editlink">Chỉnh sửa</a>
                    <a class="savebtn" id="saveTraningHistory">Lưu</a>
                </div>


            </div>
        </section>
                </div>
            </div>
     </div>

    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="assets/libs/js/dashboard-ecommerce.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/libs/js/setting.js"></script>

</body>
 
</html>